apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev
bases:
- ../../base

namePrefix: dev-

commonLabels:
  env: dev
  tier: development

replicas:
- name: myapp
  count: 1

images:
- name: myapp
  newTag: dev-latest
